{% extends 'master.html' %}

{% block titulo %} {{titulo}} {% endblock %}



{% block contenido %} 
     	<h3>Número de páginas listadas: {{pokemons.paginator.num_pages}}</h3>
        <h3>Tiempo de ejecución de la consulta: {{time_query}} segundos</h3>
        <h3>Uso de memoria: {{max_memory_usage}} MiB</h3>
        <ul>
            {% for pokemon in pokemons %}
                <li>{{pokemon.id}} - {{pokemon.name}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% if pokemons.has_previous %}
                <li>
                    <a href="/pageAll/?page=1">Primera /</a>
                    <a href="/pageAll/?page={{pokemons.previous_page_number}}">/ Anterior</a>
                </li>
            {% endif %}
            {% if pokemons.has_next %}
                <li>
                    <a href="/pageAll/?page={{pokemons.next_page_number}}">Siguiente /</a>
                    <a href="/pageAll/?page={{pokemons.paginator.num_pages}}">/ Última</a>
                </li>
            {% endif %}
        </ul>

{% endblock %}